

{% extends "header.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h3>Upload file</h3>
<hr />
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mt-5 mb-5">
        <div class="form-group">
            <div class="form-group files color">
                <input type="file" class="form-control" name="zip_file" accept=".zip">
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
    <hr />
    <a class="btn btn-link" href="{% url 'home' %}" role="button">Home</a>
    <a class="btn btn-link" href="{% url 'preprocess' %}" role="button">Preprocess</a>
</form>

{% endblock %}